#logo{
  height: 60px;
}
html {
   font-family: Ubuntu, Trebuchet, sans-serif;
   padding: 0;
 margin: 0;
 }
 #post {
   border-radius: 2px;
   display: inline-block;
   margin: 1rem;
   position: relative;
   width: 41%;
 }
 div#app > div{
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
   width: 100%;
   margin:0;
   position: relative;
 }

 main > div.slider {
  height:100% !important;
  position:static;
 }

 main > div.slider > ul {
   height:100% !important;
 }

 .fullscreen .slider img {
   height: 100vh;

 }

#button-home  {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 999;
 }
 #register{
   right: 70%;

 }
 #login{
   right: 45%;

 }
 iframe {
   margin-top: 25px;
 }

#contact1{
  display: inline-block;
}
#contact2{
  display: inline-block;
  margin-left: 5%;
}
